# This requirements are for development and testing only, not for production.
flake8==7.1.0
pytest==8.2.2
pytest_asyncio==0.23.7
mypy==1.10.1
types-setuptools==69.5.*
black==24.4.2
isort==5.13.2
playwright==1.44.0
selenium==4.22.0
selenium_driverless==1.9.3.1
twisted==24.3.0
types-requests==2.31.*